@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");

@import "react-pdf/dist/esm/Page/AnnotationLayer.css";
@import "react-pdf/dist/esm/Page/TextLayer.css";

@tailwind base;
@tailwind components;

// Tailwind styles after tailwind base & components and before utilities
@import "tailwind";

@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --scroll-bar-color: var(--primary);
  --scroll-bar-bg-color: transparent;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 3px solid var(--scroll-bar-bg-color);
}
